{% extends 'base.html' %}
{% load static %}

{% block title %}دسته‌بندی‌ها{% endblock title %}

{% block content %}
    <div class="container" id="content">
        <div class="row justify-content-center my-3">
            {% for category in category_list %}
                <div class="col-auto my-2">
                    <div class="card align-items-center" style="width: 12.59rem; max-height: 330px;">
                        {% comment %} {% if post.image %}
                            <img src="{{post.image.url}}" class="card-img-top rounded"
                                alt="image post" style="width: 250px; height: 250px;">
                        {% else %}
                            <img src="{% static 'images/no-image.jpg'%}"
                                class="card-img-top rounded" alt="image post"
                                style="width: 250px; height: 250px;">
                        {% endif %} {% endcomment %}
                        <div class="card-body text-center">
                            <a href="#" class="category-name"
                            style="color: rgb(122, 190, 20);">{{category.name}}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}