{% extends 'base.html' %}
{% load static %}

{% block title %}دسته‌بندی جدید{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row justify-content-center mb-5 mt-3">
                <div class="col-auto">
                    <p class="h2 text-secondary">افزودن دسته‌بندی جدید</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="form-group my-3">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="d-grid gap-2 my-5">
                                <button class="btn btn-outline-secondary" type="submit">افزودن</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row justify-content-start my-3">
                <div class="col-auto">
                    <a class="btn btn-outline-primary" href="{% url 'category_list' %}">بازگشت</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}