{% extends 'base.html' %}
{% load static %}

{% block title %}حذف پست{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.creator.id %}
            <div class="container">
                <div class="row justify-content-center mb-5 mt-3">
                    <div class="col-auto">
                        <p class="h2 text-light">حذف پست</p>
                    </div>
                </div>
                <div class="row justify-content-start mb-5 mt-3">
                    <div class="col-auto">
                        <p class="h4 text-light">حذف "{{post.title}}" ...</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <p class="h5 text-light">آیا از حذف این پست اطمینان دارید؟</p>
                        <div class="form-group my-3">
                            <form method="post">
                                {% csrf_token %}
                                <div class="d-grid gap-2 my-5">
                                    <button class="btn btn-danger" type="submit">حذف</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start my-3">
                    <div class="col-auto">
                        <a class="btn btn-primary" href="{% url 'feed' %}">بازگشت به فید</a>
                    </div>
                </div>
            </div>
        {% else %}
        شما اجازه دسترسی به این صفحه را ندارید!
        {% endif %}
    {% endif %}
{% endblock content %}