{% extends 'base.html' %}
{% load static %}

{% block title %}خانه{% endblock title %}

{% block content %}
<header class="py-1" style="background-color: rgb(135, 207, 231);">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">به وبلاگ دوستانه‌ی ما خوش آمدید!</h1>
            <p class="lead fw-normal text-white mb-0">ایده‌های جذابتون رو با دوستاتون به اشتراک بذارید!
                &#128521;</p>
        </div>
    </div>
</header>
{% endblock content %}