{% extends 'base.html' %}
{% load static %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'css/gtt_button.css' %}">
{% endblock static_css %}

{% block title %}{{tag.name}}{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-start my-3">
            <p class="h2 text-light">
                پست‌های دارای تگ {{tag.name}}:
            </p>
        </div>
        <div class="row justify-content-center my-3">
            {% if not posts %}
                <p class="h3 text-center text-light my-5">
                    <strong>
                        چقدر خلوت... هیچ پستی نیست!	&#128532;
                    </strong>
                </p>
            {% else %}
                {% for post in posts %}
                    <div class="col-auto my-2">
                        <div class="card align-items-center">
                            {% if post.image %}
                                <a href="{{post.get_absolute_url}}">
                                    <img src="{{post.image.url}}" class="card-img-top rounded img-fluid"
                                        alt="image post" style="width: 250px; height: 250px;">
                                </a>
                            {% else %}
                                <a href="{{post.get_absolute_url}}">
                                    <img src="{% static 'images/no-image.jpg'%}"
                                        class="card-img-top rounded" alt="image post"
                                        style="width: 250px; height: 250px;">
                                </a>
                            {% endif %}
                            <div class="card-body text-center">
                                <h4><strong>{{post.title|truncatechars:20}}</strong></h4>
                                <hr>
                                <span class="small">{{post.content|truncatechars:39}}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            {% if user.is_authenticated %}
                <a href="{% url 'create_post' %}"
                    <button type="button" class="btn btn-lg my-5 text-light" style="background-color: #0c79a0;">پست جدید داری؟</button>
                </a>
            {% else %}
                <a href="{% url 'login' %}"
                <button type="button" class="btn btn-lg my-5 text-light" style="background-color: #0c79a0;">پست جدید داری؟</button>
                </a>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{% block gtt_button %}
    <button type="button" class="btn btn-primary btn-floating btn-sm rounded-circle" 
    id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
{% endblock gtt_button %}
{% block static_js %}
    <script type="text/javascript" src="{% static 'js/gtt_button.js' %}"></script>
{% endblock static_js %}