{% extends 'base.html' %}
{% load static %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'css/gtt_button.css' %}">
{% endblock static_css %}

{% block title %}تگ‌ ها{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-start my-3">
            <p class="h2 text-success">
                همه‌ی تگ ها:
            </p>
        </div>
        <div class="row justify-content-center my-5">
            {% for tag in tag_list %}
                <div class="col-auto my-2">
                    <div class="card align-items-center pt-2 border-secondary border-3 bg-warning" style="width: 12.59rem; max-height: 330px;">
                        <a href="{{tag.get_absolute_url}}" class="lead text-secondary"
                                style="text-decoration: none;">
                            {{tag.name|truncatechars:100}}
                            <hr>
                        </a>
                        {% if user.is_authenticated %}
                            {% if user.id == tag.owner.id %}
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-6 text-start">
                                            <a href="{% url 'update_tag' tag.slug %}" class="btn btn-sm btn-primary">
                                                ویرایش
                                            </a>
                                        </div>
                                        <div class="col-6 text-end">
                                            <a href="{% url 'delete_tag' tag.slug %}" class="btn btn-sm btn-danger">
                                                حذف
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div class="row justify-content-start p-5">
                <a class="btn btn-success" href="{% url 'create_tag' %}">
                    <strong class="lead">
                    ساخت تگ جدید
                    </strong>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock content %}
{% block gtt_button %}
    <button type="button" class="btn btn-primary btn-floating btn-sm rounded-circle" 
    id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
{% endblock gtt_button %}
{% block static_js %}
    <script type="text/javascript" src="{% static 'js/gtt_button.js' %}"></script>
{% endblock static_js %}