{% extends 'base.html' %}
{% load static %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'css/gtt_button.css' %}">
{% endblock static_css %}

{% block title %}ویرایش پست{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.creator.id %}
            <div class="container">
                <div class="row justify-content-center mb-5 mt-3">
                    <div class="col-auto">
                        <p class="h2 text-secondary">ویرایش پست</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="form-group my-3">
                            <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="d-grid gap-2 my-5">
                                    <a class="btn btn-outline-primary" href="{% url 'create_category' %}">دسته‌بندی مورد نظرت رو نمی‌بینی؟ خب
                                        بسازش!</a>
                                </div>
                                <div class="d-grid gap-2 my-5">
                                    <a class="btn btn-outline-dark" href="{% url 'create_tag' %}">تگ مورد نظرت رو نمی‌بینی؟ اینجا میتونی
                                        بسازیش!</a>
                                </div>
                                <div class="d-grid gap-2 my-5">
                                    <button class="btn btn-outline-secondary" type="submit">ویرایش</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start my-3">
                    <div class="col-auto">
                        <a class="btn btn-outline-primary" href="{% url 'feed' %}">بازگشت به فید</a>
                    </div>
                </div>
            </div>
        {% else %}
            شما اجازه دسترسی به این صفحه را ندارید!
        {% endif %}
    {% endif %}
{% endblock content %}
{% block gtt_button %}
    <button type="button" class="btn btn-primary btn-floating btn-sm rounded-circle" 
    id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
{% endblock gtt_button %}
{% block static_js %}
    <script type="text/javascript" src="{% static 'js/gtt_button.js' %}"></script>
{% endblock static_js %}