{% extends 'base.html' %}
{% load static %}

{% block title %}ورود{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mb-5 mt-3">
            <div class="col-auto">
                <p class="h2 text-secondary">ورود به سایت</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="form-group my-3">
                    <form enctype='multipart/form-data' method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">نام کاربری:</span>
                            <input type="text" class="form-control" 
                                placeholder="نام کاربری خود را وارد کنید..."
                                name="username" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">رمز عبور:</span>
                            <input type="password" class="form-control" 
                                placeholder="رمز عبور خود را را وارد کنید..."
                                name="password" required>
                        </div>
                        <div class="vstack gap-2 col-md-5 mx-auto mt-5">
                            <button class="btn btn-outline-secondary" type="submit">ورود</button>
                            <a class="btn btn-outline-primary" href="{% url 'index' %}">بازگشت</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% comment %} <div class="row justify-content-start my-3">
            <div class="col-auto">
            </div>
        </div> {% endcomment %}
    </div>
{% endblock content %}