{% extends 'base.html' %}
{% load static %}

{% block title %}بروزرسانی با موفقیت انجام شد{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">رمز عبور با موفقیت بروزرسانی شد!</h1>
                <a class="btn btn-lg btn-success lead fw-normal text-white my-5" href="{% url 'index' %}">
                    برای بازگشت به خانه کلیک کنید.
                </a>
            </div>
        </div>
    {% endif %}
{% endblock content %}