{% extends 'base.html' %}
{% load static %}

{% block static_css %}
    <link rel="stylesheet" href="{% static 'css/gtt_button.css' %}">
{% endblock static_css %}

{% block title %}ویرایش پروفایل{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
            <div class="container">
                <div class="row justify-content-center mb-5 mt-3">
                    <div class="col-auto">
                        <p class="h2 text-light">ویرایش پروفایل کاربری</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="form-group my-3">
                            <form enctype='multipart/form-data' method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <div class="d-grid gap-2 my-5">
                                    <button class="btn btn-secondary" type="submit">بروزرسانی</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start my-3">
                    <div class="col-auto">
                        <a class="btn btn-primary" href="{{ profile.get_absolute_url }}">بازگشت</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container my-5">
                <div class="row">
                    <div class="col-12 text-light text-center">
                        <h2>             	
                            &#9940; شما اجازه دسترسی به این صفحه را ندارید! &#9940;
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center mt-5">
                        <a href="{% url 'index' %}" class="btn btn-lg text-light" style="background-color: #115e7b;">
                            برای بازگشت به صفحه اصلی کلیک کنید
                        </a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock content %}
{% block gtt_button %}
    <button type="button" class="btn btn-primary btn-floating btn-sm rounded-circle" 
    id="btn-back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
{% endblock gtt_button %}
{% block static_js %}
    <script type="text/javascript" src="{% static 'js/gtt_button.js' %}"></script>
{% endblock static_js %}